take/eclipse
take/jar_files
take/jdk
take/wildfly-10.1.0.Final
take/*.bat

take/workspace/.metadata
take/workspace/.recommenders
take/workspace/takeclient
take/workspace/take/.classpath
take/workspace/take/build.xml
take/workspace/take/dist
take/workspace/take/WebContent